<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/hey.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    
  </head>

  <body>
    <div id="app" style="width: 400px;background-color:#FFFFFF;margin-left:500px;" >
      
      <md-toolbar class="md-primary">
       <div class="md-toolbar-section-start" >
          <md-button class="md-icon-button">
            <md-icon>menu</md-icon>
          </md-button>
        </div>
        <h3 class="md-title" style="flex: 2">Hey Taxi !</h3>
        <md-button class="md-icon-button">
          <md-icon>more_vert</md-icon>
        </md-button>

      </md-toolbar>

        <div style="height: 600px;width: 400px;background-color:#f4d442;">
          <br/>
          <div  class="md-layout md-alignment-bottom-center" >
          <span class="md-display-1">You are about to add </span>
          </div>
          <div  class="md-layout md-alignment-bottom-center" >
           <img width="100" heigth="63" src="mastercard.jpg"/> 
          </div>
          <div  class="md-layout md-alignment-bottom-center" >
          
          <span class="md-display-1">to <b>Hey Taxi !</b></span><br/>
        </div>
          <br/>
          <br/>
          <br/>
          <span class="md-subheading">Please login to <b>Hey Taxi!</b> to confirm</span>
          <br/>
            <md-field md-clearable style="background-color:#ffffff;">
              <label>Login</label>
              <md-input v-model="initial"></md-input>
            </md-field>

            <md-field style="background-color:#ffffff;">
              <label>Password</label>
              <md-input v-model="password" type="password"></md-input>
            </md-field>
        <div style="height: 100px" class="md-layout md-alignment-bottom-center" >
      <md-button  class="md-raised md-secondary" v-on:click="this.window.location='hey2.html'">
             <md-icon>check_circle_outline</md-icon> confirm 
          </md-button>
        
      </div>
        </div>
      
    </div>

    
    <script src="app.js"></script>
    <script>
      
    </script>
  </body>
</html>