<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    
  </head>

  <body>
    <div id="app" style="width: 400px;background-color:#FFFFFF;margin-left:500px;" >
      
      <md-toolbar class="md-primary">
       <div class="md-toolbar-section-start">
          <md-button class="md-icon-button">
            <md-icon>menu</md-icon>
          </md-button>
        </div>
           
          <h3 class="md-title" style="flex: 2">My Digital Cards</h3>
        
        <md-button class="md-icon-button">
          <md-icon>more_vert</md-icon>
        </md-button>

      </md-toolbar>
        <div style="height: 600px;width: 400px;">
          <div  class="md-layout md-alignment-bottom-center" style="margin-top:15px" >
      
                <img src="mastercard.jpg"/> 
              </div>
            <span class="md-caption"><b>ADDED CARDS</b></span>
            <md-divider class="md-inset"></md-divider>
            <br/>
          <md-list v-for="item in tokens">
            <div>
          <md-list-item >
            <img :src="item.icon" width="32px" heigth="32px" /> 
             <span class="md-list-item-text">{{item.name}}</span>
              

            <md-icon>delete</md-icon>
            <md-switch v-model="item.status" class="md-primary">{{item.status==true?'activated':'disabled'}}</md-switch>
             <md-button class="md-icon-button">
              
           </md-button>
          </md-list-item>
          <md-divider class="md-inset"></md-divider>

        </div>
        </md-list>
        <div style="height: 150px" class="md-layout md-alignment-bottom-center" >
      
        <md-button  class="md-raised md-primary" v-on:click="this.window.location='step3.html'">
           <md-icon>add</md-icon> Add card to a new service
        </md-button>
      </div>
        </div>
      
    </div>

    <script src="app.js"></script>
    <script>
      
    </script>
  </body>
</html>